<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eBay Open Source</title>
    <link
      rel="shortcut icon"
      type="image/ico"
      href="https://www.ebay.com/favicon.ico"
    >
  </head>
  <body>
    <site-header/>
    <div class="page-grid-container">
      <div class="page-grid">
        <main>
          <${input.content}/>
        </main>
      </div>
    </div>
  </body>
</html>
