<!DOCTYPE html>
<html lang=$global.platform.getLocale()>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>${$global.meta.title}</title>
    <ebay-i18n/>
    <site-speed-top/>
    <link
      rel="shortcut icon"
      type="image/ico"
      href="https://www.ebay.com/favicon.ico"
    >
  </head>
  <body>
    <div class="page-grid-container">
      <global-header/>
      <div class="page-grid">
        <main>
          <${input.renderBody}/>
        </main>
      </div>
    </div>

    <tracking-cookies/>
    <tracking-images/>
    <tracking-body/>

    <site-speed-bottom/>
  </body>
</html>
<style>
  .body {
    padding: 0px;
    margin: 0px;
  }
</style>
