style {
  .scrollSection {
    margin: 40px;
    position: relative;
    width: 100%;
  }
  .square {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    width: 90vw;
  }
}
<div class="square">
  <div class="scrollSection">
    <preamble/>
  </div>
  <div class="scrollSection">
    <ethosSquare/>
  </div>
  <div class="scrollSection">
    <verticalCarousel aspect="null"/>
  </div>
  <div class="scrollSection">
    About > Copyright > etc
  </div>
</div>
