<style>
  .videoOnLeft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
</style>
<video
  width="600"
  height="600"
  style={
    margin: "30px",
  }
  src="https://ir.ebaystatic.com/cr/v/c1/ebayui/video/v1/playlist.mpd"
>
</video>
